<div class="top-bar">
    <div class="top-bar-title">
        dhni-fe-auth-challenge
    </div>

    <div>
        <div class="top-bar-right">
            <avatar></avatar>
            <button class="button" ng-click="application.logout()">Logout</button>
            <!--<ul class="menu">-->
                <!--<li ng-repeat="route in $ctrl.routeDiscovery" ui-sref-active="active">-->
                    <!--<a ui-sref="{{route}}">-->
                        <!--{{route}}-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
