.dhni-topbar {
  @include top-bar-container;

  display: flex;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    flex-wrap: nowrap;
  }
}

.dhni-topbar__left,
.dhni-topbar__right {
  flex: 0 0 100%;
  max-width: 100%;

}

.dhni-topbar__left {
  @include breakpoint(medium) {
    flex: 1 1 auto;
  }
}

.dhni-topbar__right {
  @include breakpoint(medium) {
    flex: 0 1 auto;
  }
}

.dhni-topbar__group {
}

.dhni-topbar__title {
}

.dhni-topbar .menu li {
  a {
    background-color: transparent;
    border-color: transparent;
    color: $oc-indigo-2;
  }
  &.active a {
    color: $oc-indigo-4;
  }
}