<div class="row">
    <div class="small-12 columns">
        <h3>Shared</h3>
        <hr>
    </div>

    <div class="small-12 columns">
        <div class="row" ng-if="application.user.is('admin')">
            <div class="small-6 colums">
                <div class="shared__square background-color-blue-7"></div>
            </div>
            <div class="small-6 colums">
                <div class="shared__square background-color-yellow-7"></div>
            </div>
        </div>

        <div class="row" ng-if="application.user.is('admin') || application.user.is('user')">
            <div class="small-6 colums">
                <div class="shared__square background-color-red-7"></div>
            </div>
            <div class="small-6 colums">
                <div class="shared__square background-color-green-7"></div>
            </div>
        </div>

    </div>
</div>