<div class="row">
    <div class="small-12 columns">
        <h2>Signup</h2>
    </div>
    <div class="small-12 columns">
        <div uib-alert
             closable="true"
             close="auth.error = undefined"
             ng-show="auth.error"
             class="callout">
            <i class="fa fa-exclamation-triangle"></i>
            {{auth.error.message}}
        </div>
    </div>
    <div class="small-12 columns">
        <form name="auth.credentialsForm"
              novalidate
              ng-submit="auth.signUpWithEmailAndPassword(auth.user)">
            <div class="row">
                <div class="small-12 columns">
                    <n-form-field is-error="auth.credentialsForm.name.$invalid && auth.credentialsForm.name.$dirty"
                                  is-loading="auth.isSubmitting">
                        <label for="name" n-form-field-label>
                            Display Name
                            <input name="name"
                                   n-form-field-input
                                   id="name"
                                   type="text"
                                   ng-disabled="auth.isSubmitting"
                                   ng-model="auth.user.displayName"
                                   required>
                            <span class="form-error"
                                  ng-messages="auth.credentialsForm.name.$error"
                                  role="alert">
                                <span ng-message="required">required</span>
                            </span>
                        </label>
                    </n-form-field>
                </div>
                <div class="small-12 columns">
                    <n-form-field is-error="auth.credentialsForm.email.$invalid && auth.credentialsForm.email.$dirty"
                                  is-loading="auth.isSubmitting">
                        <label for="email" n-form-field-label>
                            E-mail
                            <input name="email"
                                   n-form-field-input
                                   id="email"
                                   type="email"
                                   ng-disabled="auth.isSubmitting"
                                   ng-model="auth.user.email"
                                   required>
                            <span class="form-error"
                                  ng-messages="auth.credentialsForm.email.$error"
                                  role="alert">
                                <span ng-message="required">required</span>
                                <span ng-message="email">email</span>
                            </span>
                        </label>
                    </n-form-field>
                </div>
                <div class="small-12 columns">
                    <n-form-field is-error="auth.credentialsForm.password.$invalid && auth.credentialsForm.password.$dirty"
                                  is-loading="auth.isSubmitting">
                        <label for="password" n-form-field-label>
                            Password
                            <input name="password"
                                   n-form-field-input
                                   id="password"
                                   type="password"
                                   ng-disabled="auth.isSubmitting"
                                   ng-model="auth.user.password"
                                   required>
                            <span class="form-error"
                                  ng-messages="auth.credentialsForm.password.$error"
                                  role="alert">
                                <span ng-message="required">required</span>
                            </span>
                        </label>
                    </n-form-field>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-3 medium-offset-3 columns">
                    <a ui-sref="application.auth.login"
                       class="button secondary hollow expanded">
                        Login
                    </a>
                </div>
                <div class="small-12 medium-3 columns">
                    <button class="button expanded"
                            ng-disabled="auth.credentialsForm.$invalid || auth.isSubmitting"
                            type="submit">
                        <span ng-show="auth.isSubmitting"><i class="fa fa-spin fa-circle-o-notch"></i></span>
                        <span ng-hide="auth.isSubmitting">Create new user</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="small-12 medium-6 medium-offset-3 columns">
        <button class="button facebook expanded"
                ng-disabled="auth.isSubmitting"
                ng-click="auth.signInWithFacebook()">
            <span ng-show="auth.isSubmitting"><i class="fa fa-spin fa-circle-o-notch"></i></span>
            <span ng-hide="auth.isSubmitting">Login with Facebook</span></button>
    </div>
</div>