<div class="row">
    <div class="small-12 columns">
        <h2>Signup</h2>
    </div>
    <div class="small-12 columns">
        <form name="signupForm" novalidate ng-submit="auth.signUpWithEmailAndPassword()">
            <div class="row">
                <div class="small-12 columns">
                    <label for="name">
                        Display Name
                        <input id="name" name="name" type="text" ng-model="auth.user.displayName" required>
                    </label>
                </div>
                <div class="small-12 columns">
                    <label for="email">
                        E-mail
                        <input id="email" name="email" type="email" ng-model="auth.user.email" required>
                    </label>
                </div>
                <div class="small-12 columns">
                    <label for="password">
                        Password
                        <input id="password" name="password" type="password" ng-model="auth.user.password" required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-3 medium-offset-3 columns">
                    <a ui-sref="application.auth.login" class="button secondary hollow expanded">
                        Login
                    </a>
                </div>
                <div class="small-12 medium-3 columns">
                    <button class="button expanded" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="small-12 medium-6 medium-offset-3 columns">
        <button class="button expanded" ng-click="auth.signInWithFacebook()">Login in with Facebook</button>
    </div>
</div>